* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

    /* custom variables - color */
    --blackish: rgb(30, 30, 30);
    --blackgrey: rgb(70, 70, 70);
    --greyish: rgb(100, 100, 100);
    --whitegrey: rgb(160, 160, 160);
    --white: rgb(222, 222, 222);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.landing {
    width: 100%;
    height: 100vh;
    background-color: var(--blackish);
    display: grid;
    color: var(--white);
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 10% 1fr 80px 1fr 10%;
    grid-template-areas:
        "creditsEN creditsEN creditsEN"
        "titleEN titleEN titleEN"
        "line1 button line2"
        "titleKR titleKR titleKR"
        "creditsKR creditsKR creditsKR";
    place-items: center;
}

.title {
    height: 100%;
    width: 100%;
    font-size: 2.2em;
    animation: fadeInTitle 2.5s;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4em;
}

.title p {
    max-width: 80vw;
}

.title strong {
    font-size: 1.5em;
}

.title:hover, .title:active {
    cursor: pointer;
    background-color: var(--blackgrey);
    font-size: 2.25em;
}

.titleKR {
    grid-area: titleKR;
}

.titleEN {
    grid-area: titleEN;
}

@keyframes fadeInTitle {
    from {opacity: 0;}
    to {opacity: 1;}
}

.credits {
    text-align: center;
    font-size: 0.7em;
    animation: fadeInTitle 2.5s;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits a {
    color: var(--whitegrey);
}

.creditsKR {
    grid-area: creditsKR;
}

.creditsEN {
    grid-area: creditsEN;
}

.logo {
    z-index: 2;
    background-color: var(--white);
    color: var(--greyish);
    grid-area: button;
    animation: fadeInLogo 3.5s;
    transition: 0.3s;
    max-width: 80px;
}

.logo:hover, .logo:active {
    cursor: pointer;
    max-width: 100px;
}

@keyframes fadeInLogo {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.line1, .line2 {
    background-color: var(--white);
    height: 1px;
    width: 100%;
    animation: fadeInLine 2s;
}

.line1 {
    justify-self: left;
}
.line2 {
    justify-self: right;
}
@keyframes fadeInLine {
    from {width: 0%;}
    to {width: 100%;}
}

.story {
    min-height: 100vh;
    width: 100%;
    background-color: var(--blackish);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.story-node-name {
    z-index: 1;
    padding-top: 10%;
    padding-bottom: 5%;
    max-width: 60vw;
    text-align: center;
    align-self: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 4em;
}

.story-node-text {
    z-index: 1;
    padding: 10px 10vw;
}

.story-node-text-p {
    padding: 10px 0px;
}

.story-node-choice {
    z-index: 1;
    padding-top: 5%;
    padding-bottom: 1%;
    max-width: 65vw;
    text-align: center;
    align-self: center;
    font-size: 1.5em;
}
.far {
    z-index: 1;
    padding-bottom: 5%;
    opacity: 0;
    transition: 0.5s;
}

.story-node-image {
    z-index: 0;
    position: absolute;
    align-self: center;
    bottom: 10%;
    max-width: 100%;
    visibility: hidden;
    opacity: 0;
}

.choice {
    height: 100%;
    width: 100%;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 4em;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover, .choice:active {
    cursor: pointer;
    background-color: var(--blackgrey);
    font-size: 4.2em;
}

.choice-screen-1 {
    width: 100%;
    height: 100vh;
    background-color: var(--blackish);
    display: grid;
    color: var(--white);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "choice1";
    place-items: center;
}

.choice-screen-1-1 {
    grid-area: choice1;
}

.choice p {
    max-width: 70vw;
    text-align: center;
}

.choice-screen-2 {
    width: 100%;
    height: 100vh;
    background-color: var(--blackish);
    display: grid;
    color: var(--white);
    grid-template-columns: 1fr 15% 1fr;
    grid-template-rows: 1fr 0.5% 1fr;
    grid-template-areas:
        "choice1 choice1 choice1"
        "line1 or line2"
        "choice2 choice2 choice2";
    place-items: center;
}

.choice-screen-2-1 {
    grid-area: choice1;
}
.choice-screen-2-2 {
    grid-area: choice2;
}

.or {
    z-index: 2;
    background-color: var(--white);
    padding: 15px;
    color: var(--greyish);
    grid-area: or;
    font-size: 1.3em;
    text-align: center;
    max-width: 50px;
    max-height: 25px;
}

.map-button {
    z-index: 10;
    position: fixed;
    max-width: 50px;
    max-height: 30px;
    top: 5%;
    left: 5%;
    background-color: var(--white);
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px;
    transition: 0.3s;
}

.map-button-start {
    animation: fadeInMap 8s;
}
@keyframes fadeInMap {
    0% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
}

.map-button:hover, .map-button:active {
    cursor: pointer;
    color: var(--white);
    background-color: var(--greyish);
}

.map {
    z-index: 5;
    position: fixed;
    height: 96vh;
    width: 96%;
    top: 2%;
    left: 2%;
    box-shadow: 0px 0px 5px;
    background-color: var(--blackgrey);
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 1fr 1fr;
    grid-template-areas:
        "stl stl stl"
        "med1 med2 med3"
        "med4 med5 med6";
    place-items: center;
    color: var(--white);
}

.medailon {
    transform-style: preserve-3d;
    perspective: 500px;
    transition: .5s;
    min-height: 95%;
    min-width: 95%;
}

.locked {

}

.medailon:hover .med-front .unlocked, .medailon:active .med-front .unlocked {
    transform: rotateY(-180deg);
}

.medailon:hover .med-back .unlocked, .medailon:active .med-abck .unlocked {
    transform: rotateY(0deg);
}

.med-front {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: .5s;
    display: flex;
    flex-direction: column;
}

.med-image {
    background-size: cover;
    background-position: center;
    height: 80%;
    filter: grayscale(80%);
}

.med-name {
    text-align: center;
    padding-top: 3px;
}

.med-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--greyish);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: .5s;
    overflow-y: auto;
}

.med-back p {
    text-align: center;
    padding: 3%;
}

.med1 {
    grid-area: med1;
}

.med1 .med-image {
    background-image: url(/images/med1.png);
}

.med2 {
    grid-area: med2;
}

.med2 .med-image {
    background-image: url(/images/med2.png);
}

.med3 {
    grid-area: med3;
}

.med3 .med-image {
    background-image: url(/images/med3.png);
}

.med4 {
    grid-area: med4;
}

.med4 .med-image {
    background-image: url(/images/med4.png);
}

.med5 {
    grid-area: med5;
}

.med5 .med-image {
    background-image: url(/images/med5.png);
}

.med6 {
    grid-area: med6;
}

.med6 .med-image {
    background-image: url(/images/med6.png);
}

#stl_cont {
    grid-area: stl;
    min-height: 100%;
    min-width: 100%;
}

@media only screen and (min-width: 768px){
    .story-node-text-p {
        width: 60vw;
    }
    .map {
        grid-template-columns: 50% 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "stl med1 med2"
            "stl med3 med4"
            "stl med5 med6";
    }
}
